:root {
  --primary-text-color:color: #212121;
  --p-section-color: #757575;
  --hover-color: #2196f3;
  --background-color:#2f303a;
  --white-color:white;
}

body {
  font-family: Roboto, "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  color:var(--primary-text-color);
  letter-spacing: 0.03em;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
.header-title,
a {
  text-decoration: none;
}
/* Главный класс для всех секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка */
.main-nav {
  border-bottom: 1px solid #ECECEC;
}
.container-mainnav {
  align-items: center;
  display: flex;
}
.container-header {
 align-items: center;
  display: flex;
}
.container {
  width: 1600px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav {
  margin-left: 93px;
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
/* Контакты */
.contacts {
  display: inline-block;
  margin-left: 332px;
  margin-right: 215px;
  display: flex;
}
.contacts .item + .item {
  margin-left: 50px;
}
/* Мейн инфа ПОРТФОЛИО */
/* КНОПКИ */
.buttons {
  margin-left: 495px;
  margin-right: 494px;
  display: flex;
}
.buttons .all {
width: 73px;
}
.buttons .web {
  width: 128px;
}
.buttons .apss {
 width: 145px;
}
.buttons .des {
width: 103px;
}
.buttons .mar {
width: 130px;
}
.link-button:not(:last-child) {
margin-right: 8px;
}
/* WRAP СЕКЦИЯ */
.wrap-section{
  margin-left: 215px;
  margin-right: 215px;
  display: flex;
  flex-wrap: wrap;
}
.wrap-block{ 
  width: 370px;
  border: 1px solid #EEEEEE;
  margin-right: 30px;
  margin-bottom: 30px;
}
.wrap-block:nth-child(3n){
  margin-right: 0px;
}
.under-photo {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}
.wrap-block:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.wrap-block:nth-child(-n+3){
  margin-top: 56px;
}

/* Секция ЧЕМ МЫ ЗАНИМАЕМСЯ  */
.link-photo {
  margin-right: 215px;
  margin-left: 215px;
  display: flex;
}
.photo-bottom:not(:last-child) {
  margin-right: 30px;
}
/* СЕКЦИЯ НАША КОМАНДА */
.crew {
background-color: #F5F4FA;
}
.section .crew {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
/* ФУТЕР */
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;
 
}

.header-title {
  margin-left: 215px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  color: black;
  letter-spacing: 0.03em;
}
.web-title {
  color: var(--hover-color);
}
/* Блок предложений */
.container-four {
  padding-top: 94px;
  display: flex;
}
.list-four:last-child {
  margin-right: 0px ;
}
.list-four {
  margin-right: 30px;
  width: 270px;
}

.container-offer {
  padding-left: 215px;
  padding-right: 215px;
}
/* Ховер контакты */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.site-nav .link.current {
  color: var(--hover-color)
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-color)
}
/* Контакты */
.contacts .contacts-head:hover,
.contacts .contacts-head:focus {
  color: var(--hover-color)
}
.contacts .contacts-head {
  color: var(--p-section-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
/* Большая маленькая секция */
.button-primary {
font-weight: bold;
font-size: 16px;
line-height: 1.87;
width: 200px;
height: 50px;
left: 529px;
top: 415px;
background: var(--hover-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color:var(--white-color);
cursor: pointer
}
.button-portfolio {
height: 38px;
top: 174px;
border-color: transparent;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1.62em;
background-color:#F5F4FA;
border-radius: 4px;
cursor: pointer
}
.button-portfolio:hover,
.button-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color:var(--hover-color);
    color: var(--white-color);
}
.huge-section {
 text-align: center;
 background-color: var(--background-color);
}
.main-title {
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  color: var(--white-color);
}
 /* Скрытый параграф */
.hiden {
  display:none;
}
/* Параграфы */
.title-list {
  font-family: Roboto;
font-weight: bold;
font-size: 18px;
line-height: 2em;
letter-spacing: 0.06em;
margin-bottom: 0px;
}
.under-title {
font-size: 16px;
line-height: 1.87em;
color:var(--p-section-color);
margin-top: 0px;
}
/* 4 Блока */
.block-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
}
.description {
  color: #757575;
}

/*  Секция Что мы делаем чим занимаемся */
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
}
/* Секция Наша команда и должность */
.crew-section {
  background-color: #f5f4fa;
}
.crew-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
}
.position {
  font-size: 16px;
  color: #757575;
}
/* ФУТЕР */
.foot-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  color: var(--white-color);
}
.footer {
  background-color: var(--background-color);
}
.contacts-footer .contacts-down {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-footer .contacts-down:hover,
.contacts-footer .contacts-down:focus {
  color: var(--hover-color);
}
.contacts-footer .adress {
  color: var(--white-color);
}
